html {
  box-sizing: border-box;
}

body {
  background-color: turquoise;
}

.main-container {
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  border: solid black;
  border-radius: 50px;
  background-color: #ffcccb;
}

.main-container .form-control {
  padding: 1px;
  margin: 10px;
  width: 200px;
}

#output-options {
  width: 30px;
}

#convert-input {
  width: 100px;
  margin-right: 40px;
}

#outside-border {
  margin-top: 200px;
  margin-left: 500px;
  margin-right: 500px;
}
body {
  background-image: url(temp-conv.jpg);
  background-color: blueviolet;
}
